<div class="card" routerLink="card/{{lalala.id}}" (click)="clickOnTheItem(lalala)">
  <img src="https://i.ytimg.com/vi/1Ne1hqOXKKI/maxresdefault.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{lalala.author}}</b></h4> 
    <p>{{lalala.title}}</p> 
    <span> {{lalala.date | date}}</span>
  </div>
</div>
